<html>
<head>
	<link rel="stylesheet" type="text/css" href="adminiview.css">
	<title>Main Overview</title>
</head>

<body>
#set( $months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] )
<h1>Overview</h1>
<h2>Topics</h2>

#set( $col = 0 )
#set( $dotr = 0 )
#set( $MAXCOL = 10 )
<table>
#foreach( $topic in $documentTopics)
    #if( $col == 0 )
    	<tr>
    #end
	<td>
		<b>[${topic.getCount()}]</b>
	</td>
	<td>
		<a href="${topicPagePrefix}${topic.getId()}.html">${topic.getName()}</a>&nbsp;&nbsp;&nbsp;
	</td>
	#set ( $col = $col + 1 )
    #if ( $col == $MAXCOL ) 
    	</tr>
    	#set ( $col = 0 )
    #end	
#end

## wrap up with empty table cells
#if ( $col > 0 )
    #set ( $left = $MAXCOL - $col )
    #foreach ($colnr in [0..$left])
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	#end
    </tr>
#end
</table>
 
<h2>By Year</h2>
<table>
#foreach( $reportedYear in $documentsByYear )
	<tr>
	<td><b>${reportedYear.getYear()} <a href="${yearPagePrefix}${reportedYear.getYear()}.html">[${reportedYear.getCount()}]</a></b>&nbsp;&nbsp;&nbsp;</td>
	#foreach( $month in $months ) 
		<td>
		#if( $reportedYear.hasMonth($month) )
			<a href="${yearPagePrefix}${reportedYear.getYear()}.html#month_${month}">[${reportedYear.monthName(${month})}]</a></td>	
		#end
		</td>
	#end
	</tr>
#end
</table>

<h2>Keyword Cloud</h2>

#foreach( $keyword in $keywordCloud )
   <span style="font-size: ${keyword.percentRatio()}%"><a href="${keywordPagePrefix}${keyword.getId()}.html">${keyword.getLabel()}</a></span>&nbsp;
#end

</body>
<html>
